@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import 'tailwindcss';

@theme {
  --font-inria: 'Inria Sans';
}

body {
  font-family: var(--font-inria);
  background-color: #252525;
}
